<div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src=<%="https://image.tmdb.org/t/p/w500" + file.poster_path%>>
</div>
<div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><%= file.title %><i
            class=" material-icons right">more_vert</i></span>
    <p><%= file.overview %></p>
</div>
<div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= file.title %><i class="material-icons right">close</i></span>
    <p><strong>Popularidade:</strong> <%= file.popularity.toFixed(1) %></p>
    <p><strong>Adulto:</strong> <%= file.adult ? "Sim" : "Não" %></p>
    <p><strong>Idioma Original:</strong> <%= file.original_language %></p>
    <p><strong>Título Original:</strong> <%= file.original_title %></p>
    <p><strong>Avaliação:</strong> <%= file.vote_average %></p>
    <p><strong>Data de Lançamento:</strong> <%= new Date(file.release_date).toLocaleDateString() %></p>
    <!-- <p>: <%= file.vote_count %></p> -->
    <!-- <p>: <%= file.video %></p> -->
    <!-- <p>: <%= file.poster_path %></p> -->
    <!-- <p>: <%= file.id %></p> -->
    <!-- <p>: <%= file.overview %></p> -->
    <a class="waves-effect waves-light btn" href=<%= "http://localhost:3000/media/stream/" + file.id %>>Exibir</a>
</div>