<%- include('particles/base') %>

<section class="row z-depth-3 register">
  <% include ./particles/message.ejs %>
  <h4 class="center-align">Users</h4>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% if(typeof users != 'undefined'){ %> <% users.forEach(function(user)
            { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td>
          <a href="/users/edit/<%= user.id %>"><i class="material-icons">edit</i></a>
        </td>
        <td>
          <a href="/users/delete/<%= user.id %>"><i class="material-icons">delete</i></a>
        </td>
      </tr>
      <% }); %> <% } %>
    </tbody>
  </table>
</section>

<%- include('particles/footer') %>